.container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .box {
            width: 35%;
            background-color: white;
            padding: 15px;
            margin: 10px;
            border: 2px solid black;
            text-align: center;
        }

        iframe {
            width: 100%;
            height: 300px;
            border: 1px solid black;
        }

        img {
            width: 100%;
            height: 300px;
        }

        a {
            display: block;
            margin: 5px;
        }